.scoreboard {
  width: 40%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  float: right;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-pause{
  background-color: aqua;
  border: none;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  width: 5rem;
  height: 2rem;
}

.green-text{
  color: chartreuse;
}
